/* @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@i/mport url('https:/cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-share.css'); */

* {
    box-sizing: border-box;
}

.masonry-gallery {
    margin: 0 auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-sizer,
    .lg-item {
        width: 32%;
        margin: 0.5rem 0;
        background-image: none;
    }

    .lg-item {
        float: left;
    }

    .lg-item img {
        display: block;
        max-width: 100%;
        margin: 0;
    }

    .gutter-sizer {
        width: 1.33%;
    }
}